@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // scroll design 변경
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(#adffd8, #94b9ff);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #e9e9e9;
    // border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.noto-font {
  font-family: "Noto Sans KR", sans-serif;
}

.open-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
